* {
	box-sizing: border-box;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	background-color: #eee;
	display: grid;
	place-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	border: 1px solid black;
	color: rgb(255, 0, 0);
	padding: 1rem;
	border-radius: 4px;
}
